body {
  height: 200px;
  background: pink;
}
.dot {
  height: 8px; width: 8px;
  border-radius: 4px; /* rounds corners */
  background: blue;
}
  position: absolute;
  li::before {content: "•"; color: red;
  display: inline-block; width: 1em;
  margin-left: -1em
  
 
}
